* {
    list-style: none;
}

.item {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 15px;
    background-color: whitesmoke;
    color: #007bbf;
    border-radius: 5px;
    margin: 10px;
}

.item h3 {
    font-size: 20px;
    font-weight: bold;
    color: #007bbf;
}

.item h2 {
    font-size: 30px;
}

.cards-active {
    background-color: #0597fb;
    color: white;
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cards-active h3 {
    color: white;
}
